<header class="site-header container">
    <div class="navbar">
        <div class="navbar-left">
            <div class="burger hidden-lg hidden-xl"></div>
            {{> logo}}
            <div class="sep hidden-xs hidden-sm hidden-sm"></div>
            {{#if @site.navigation}}
                <nav class="main-menu hidden-xs hidden-sm hidden-md">
                    {{navigation}}
                </nav>
            {{/if}}
        </div>
        <div class="navbar-right">
            <div class="header-social">
                <a class="header-social-item header-social-item-github" href="https://github.com/michaeldboyd"
                    target="_blank" rel="noopener" aria-label="Github">
                    <i class="icon icon-github-circle"></i>
                </a>
                {{#if @site.twitter}}
                    <a class="header-social-item header-social-item-twitter" href="{{twitter_url @site.twitter}}"
                        target="_blank" rel="noopener" aria-label="Twitter">
                        <i class="icon icon-twitter"></i>
                    </a>
                {{/if}}
                <a class="header-social-item header-social-item-rss"
                    href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" target="_blank" rel="noopener"
                    aria-label="RSS">
                    <i class="icon icon-rss"></i>
                </a>
            </div>
        </div>
    </div>
</header>